@import "Variables";
@import "NavegacionNosotros";
@import "ContenidoNosotros";
@import "footer";
@import "ContenidoClientes";
@import "sublimacionColores";
@import "titulos";



        html {
            font-size: 62.5%;
            box-sizing: border-box;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            font-size: 16px;
            font-family: $fuentePrincipal;
            background-image: linear-gradient(to bottom, $colorBlanco, $colorNaranjaClaro); /*GRADIENTE EN EL FONDO*/
        }

     
   
